

body {
    margin: 0;
    text-align: center;
    background-color: orange
}

.score {
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bolder;
}

button {
    background: none;
    border-radius: 7px;
}



